
body {
    width: 35%;
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    z-index: 1;
}

main {
    position: relative;
    width: 100%;
}

.view, .view2 {
    background-color: bisque;
    height: 6vh;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 30px;
    padding-right: 2%;
}
.convertion {
    display: flex;
    justify-content: space-between;
}

#selection {
    width: 30%;
    margin-bottom: 2%;
}
button {
    width: calc(95% / 4);
    height: 6vh;
    margin-bottom: 2%;
    font-size: 30px;
}

div button:last-child {
    margin-left: 3.5%;
}

#plus, #moins, #diviser, #multiplier {
    background-color: rgb(228, 156, 62);
}

#plus:hover, #moins:hover, #diviser:hover, #multiplier:hover {
    background-color: rgb(247, 158, 70);
}

#egal {
    background-color: bisque;
}

#supp {
    background-color: red;
    color: white;
}

#supp:hover {
    background-color: rgb(108, 16, 16);
}

.options {
    width: 100%;
    text-align: right;
}

.options button {
    font-size: 20px;
    height: 4vh;
}
.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0b0b0bc7;
    display: none;
    color: white;
}

.historiqueDiv {
    display: flex;
    justify-content: space-between;
}

#fermer {
    width: 4%;
    height: 3vh;
    margin: 2%;
    font-size: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
}

#historique {
    padding: 3%;
    font-size: 30px;
}

#historique p {
    margin: 0;
    padding: 0;
}

#effacer {
    width: 20%;
    height: 4vh;
    font-size: 20px;
    background-color: blanchedalmond;
}

#convertion {
    height: 3vh;
    font-size: 20px;
    background-color: rgb(228, 156, 62);
}

.view2 {
    display: none;
}

#selection{
    display: none;
}

@media screen and (min-width: 400px) and (max-width: 1500px) {
    body {
        width: 100%;
    }

    #convertion {
        font-size: 15px;
    }

    button {
        width: 22%;
        height: 6vh;
        font-size: 15px;
    }
}
@media screen and (min-width: 400px) and (max-width: 780px) {
   
    #convertion {
        width: 40%;
        height: 5vh;
    }

}
@media screen and (min-width: 780px) and (max-width: 1500px) {
   
    #convertion {
        width: 22%;
        height: 5vh;
    }

    #fermer {
        font-size: 10px;
    }

    #effacer {
        width: 30%;
        height: 4vh;
        font-size: 15px;
        background-color: blanchedalmond;
    }
}

@media screen and (min-width: 1501px) and (max-width: 2200px) {

    button {
        width: 23%;
        height: 6vh;
        font-size: 15px;
    }
}


@media screen and (min-width: 1501px) and (max-width: 2270px) {
    body {
        width: 50%;
    }
}